@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Ubuntu&display=swap');
@import "./constants.css";

body{
  background-image: var(--gradientColours);
  font-family: 'Raleway', sans-serif;
  height: 800px;
  text-align: center;
  margin-top: 20px;
}
.siteTitle{
  font-weight: bold;
  color: var(--titleColor);
  /* background: -webkit-linear-gradient(rgb(38, 5, 113), rgb(49, 74, 236));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
.siteSubTitle{
  color: var(--titleColor);
}
.listGroupDiv{

  display: flex;
  justify-content:space-evenly;

}
.listDiv{

  height: 300px;
  width: 350px;
  border-radius: 5px;
  margin-top: 20px;

}
.DoneItem{
  background-color: var(--DoneItemColor);
}
.OGItem{
  background-color: var(--OGItemColor);
  }

.DroppedItem{
  background-color: var(--DroppedItemColor);
}

.transpButtons{
  background-color: transparent;
  border:transparent;
  font-size:1.5rem;
 }
 .transpButtons:hover{
  transform: scale(1.2);
 }

.inputText{
  outline: none;
  border: none;
  width: 250px;

}
.listTitle{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  margin-top: 10px;

}
.addItemDiv{
  background-color: var(--addItembgcolor);
  border-radius: 10px;
  width:350px;
  height: 50px;
  padding-top: 5px;
  margin: auto auto;
}

.itemDiv{
  width:320px;
  display:flex;
  background-color: var(--itemDivbgcolor);
  border-radius: 5px;
  margin:5px auto;
 }
 .itemDiv:hover{
  transform: scale(1.05);
 }

.itemContent{
  flex:1;
  text-align: left;
  margin: 2px 0px 0px 5px;
  padding: 0px;
}

.itemTitle{
  margin: 0px;

}

.itemDate{
font-size: 10px;
}
.strike{
  text-decoration: line-through;
}