@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Ubuntu&display=swap');
@import "./constants.css";

body{
  background-image: var(--gradientColours);
  font-family: 'Raleway', sans-serif;
  height: 800px;
  text-align: center;
  margin-top: 20px;
}

.floatingReset{

color:blue;
border-radius: 50%;
height: 60px;
width: 60px;
font-size: 25px;
background-color: var(--floatingBtnBgColor);
border: none;
outline: none;
box-shadow: 0 0 10px 0 black;
position: fixed;
right: 30px;
bottom: 30px;
text-align: center;

z-index: 1;

}
.floatingReset:hover{
transform: rotate(60deg) scale(1.1);

  }

.siteTitle{
  font-weight: bold;
  color: var(--titleColor);
}
.siteSubTitle{
  color: var(--titleColor);
}


.addItemDiv{
  background-color: var(--addItembgcolor);
  border-radius: 10px;
  width:450px;
  height: 50px;
  padding-top: 5px;
  margin: auto auto;
}

.inputText{
  outline: none;
  border: none;
  width: 350px;

}

.listGroupDiv{

  display: flex;
  justify-content:space-evenly;
  overflow: hidden;
  

}
.listDiv{
  width: 450px;
  border-radius: 5px;
  margin-top: 20px;
  padding-bottom: 20px;
  

}
.DoneItem{
  background-color: var(--DoneItemColor);
  
  
  
}
.OGItem{
  background-color: var(--OGItemColor);
 
  }

.DroppedItem{
  background-color: var(--DroppedItemColor);
}

.transpButtons{
  background-color: transparent;
  border:transparent;
  font-size:1.5rem;
 }
 .transpButtons:hover{
  transform: scale(1.2);
 }
 .saveBtn{
  color:var(--saveBtnColor);
 }


.listTitle{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  margin-top: 10px;

}

.itemDiv{
 
  display:flex;
  background-color: var(--itemDivbgcolor);
  border-radius: 5px;
  margin:15px 5px 15px;
  

 }
 .itemDiv:hover{
  transform: scale(1.05);
 }

.itemContent{
  flex:1;
  text-align: left;
  margin: 2px 0px 0px 5px;
  padding: 0px;
}


.itemTitle{
  margin: 0px;
  font-size: 16px;
}

.itemDate{
font-size: 12px;
font-family: 'Ubuntu', sans-serif;

}
.strike{
  text-decoration: line-through;
}
/* .strike:hover{
  text-decoration:none;
} */
.blurEffect{
  filter:blur(1px)

}
.blurEffect:hover{
  filter:none;
}
.droppedItemDiv .itemContent:hover .itemTitle{
    text-decoration: none;
  }
  .editPopup{
    width:450px;
    height:100px;
    border-radius: 10px;
    background-color: var(--popUpBgColor);
    padding: 0px 5px 20px 20px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    box-shadow: 0 0 10px 0px black;
  }
.editPopup:hover{
  transform: scale(none);
  

 
  }

.editFieldDiv{
  padding-top: 8px;
  border-radius: 5px;
  display: flex;  
}

.closeBtnDiv{
  text-align: right;
}

.closeBtn{
  margin: auto;
  font-size: medium;
  position: relative;
}

.editPopupText{
  border-radius: 5px;
  border:1px solid  var(--popUpTextBorder);
  outline: none;
  margin-right: 5px;
  flex:1;
  float: inline-end;
  
}
  
