:root{

    --DoneItemColor: #11c562;
    --OGItemColor: #f1b83b;
    --DroppedItemColor: #de3030;
    --gradientColours: linear-gradient(45deg, rgb(248, 2, 228),rgb(104, 0, 241));
    --itemDivbgcolor: rgba(255,255,255,.7);
    --addItembgcolor:white;
    --titleColor: white;
    --popUpBgColor: white;
    --popUpTextBorder: grey;
    --floatingBtnBgColor: white;
    --saveBtnColor : #11c562;
    --footerBGColor: rgba(255,255,255,.4);
    --footerColor:rgb(55, 55, 55);
    --priorityUpColor: #11c562;
    --priorityDownColor: #de3030;
    --resetBtnColor: blue;
    


}